.car3 {
    color: black;
    padding: 0;
    background-color: white  ;
    margin-top: 0;
    margin-left: 10px;
}

.cardprin2{
    background-color: #00FFFF;
    padding: 5px !important;
    margin: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gap-1{
    margin-bottom: 0;
    display: flex !important;
}
.event-number{
    padding: 1em; 
    font-weight: bold;
    font-size: 18px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    /* background-color: #f8f9fa; */
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

